---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import NavBar from '../components/NavBar.astro';
import ListOfItems from '../components/ListOfItems.astro';
import ListOfComponents from '../components/ListOfComponents.astro';
import ListOfClothes from '../components/ListOfClothes.astro';


---

<Layout title="Recomendador">
	<NavBar/>
	<main class="m-auto pb-12 bg-gray-100">
		<Title/>
		<div id="moviles">
			<h1 class="flex justify-center text-4xl my-8">Moviles</h1>
			<ListOfItems/>
		</div>
		  
		  <div id="components">
			<h1 class="flex justify-center text-4xl my-8">Componentes</h1>
			<ListOfComponents/>
		  </div>
		  
		  <div id="clothes">
			<h1 class="flex justify-center text-4xl my-8">Ropa</h1>
			<ListOfClothes/>
		  </div>
	</main>	
</Layout>
