---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfItems from '../components/ListOfItems.astro';
---

<Layout title="Recomendador">
	<main class="m-auto max-w-5xl pb-12 bg-gray-100">
		<Title/>
		<ListOfItems/>
		
	</main>
</Layout>
