---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404'>
    <main class="max-x-4xl m-auto min-h-screen grid place-content-center">
        <h1 class="text-4xl font-black text-center mb-6">El producto no existe en la página</h1>
        <img class="mx-auto" src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2lucm04Mno0ZWozYjlkMnVybWg2MXdnM3NsbncyMnBqMGs5OHN1YSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/8L0Pky6C83SzkzU55a/giphy.gif" alt="404">
    </main>
</Layout>