---
import Item from "./Item.astro";

 const items = [
    {
        id: 'pixel-7',
        title: 'Pixel 7',
        url: 'https://www.amazon.es/Google-Pixel-Factory-Unlocked-Smartphone/dp/B09GPDYMPN/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2SJJUSKGH60DF&keywords=pixel+6&qid=1688663806&sprefix=pixel+6%2Caps%2C159&sr=8-1',
        img: 'https://m.media-amazon.com/images/I/614Gij3tGwL._AC_SX679_.jpg'
    },
    {
        id: 'samsumg-LS49AG952NPXEN',
        title: 'SAMSUNG LS49AG952NPXEN',
        url: 'https://www.amazon.es/SAMSUNG-LS49AG952NPXEN-Mini-LED-FreeSync-Respuesta/dp/B0BRLBTV8P/ref=sr_1_3?keywords=monitor+samsung+49+pulgadas&qid=1688664338&sprefix=monitor+samsung+49%2Caps%2C107&sr=8-3',
        img: 'https://m.media-amazon.com/images/I/81gf+wgrcfS._AC_UL320_.jpg'
    },
    {
        id: 'GIGABYTE-B550-AORUS-Elite-V2',
        title: 'GIGABYTE B550 AORUS Elite V2',
        url: 'https://www.amazon.es/Gigabyte-Technology-B550-AORUS-V2/dp/B08MPZ14FY/ref=sr_1_7?crid=2PFCL2GNT3RTU&keywords=placa+base&qid=1688664543&sprefix=placa+base%2Caps%2C99&sr=8-7',
        img: 'https://m.media-amazon.com/images/I/61cwKDO98rS._AC_SX679_.jpg'
    }
 ]
---

<ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
      {
        items.map(({id, title, url, img}) =>{
            return(
                <li>
                    <Item id={id} title={title} url={url} img={img} />  
                </li>
            )
        })
      }
</ul>