<h1 
    class="mt-14 font-black uppercase text-2xl md:text-4xl text-center py-8 px-4"
    style="view-transition-name: title"
>
    Recomendador de
    <span class="block text-[40px] md:text-[60px]">productos</span>
</h1>